<h3>{{model.name}}</h3>
<table class="hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.items as |item|}}
      <tr>
        <th>{{item.name}}</th>
        <th>{{item.amount}}</th>
      </tr>
    {{/each}}
  </tbody>
</table>

