<nav class="">
  <div class="nav-wrapper">
    <a class="brand-logo">Derek's Pantry</a>
    <ul class="right">
      <li>{{#link-to 'lists.all'}}Lists{{/link-to}}</li>
      <li>{{#link-to 'lists.new'}}Create{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
