<div class="container-fluid">
  <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <a class="navbar-brand" href="#">Derek's Pantry</a>
    <!-- Navbar content -->
  </nav>

  {{outlet}}

</div>
