<h2 class="display-1">Lists</h2>

<ul class="list-group">

  <div class="row">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary">add</button>
        <button type="button" class="btn btn-secondary">+</button>
        <button type="button" class="btn btn-secondary">-</button>
      </div>
      <input type="text" class="form-control" aria-label="text input with segmented button dropdown">
    </div>
  </div>

  <br>

  <div class="row">
    {{#each model as |list|}}
      <li class="list-group-item" {{action "select" item}}>
        <span class="label label-default label-pill pull-right">
          {{list.items.length}}{{test}}
        </span>{{list.name}}
      </li>
    {{/each}}
  </div>
</ul>
<br>


